img.table-preview {
  width: 258px;
  height: auto;
}

button.upload {
  position: fixed;
  z-index: 1;
  bottom: 35px;
  right: 35px;
  background: darkblue;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  font-size: 36px;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-group {
    width: 290px;

    label {
      display: inline-block;
    }

    input {
      display: block;
      width: 100%;
    }
  }

  button {
    background: darkblue;
    outline: none;
    border: none;
    border-radius: 4px;
    width: 60px;
    color: #fff;
  }
}
